@import "./_fonts.sass"
@import "./_icons.sass"

body
    width: 75%
    margin: auto

.header 
    background-color : blue
    color: white
    padding: 15px
    text-align: center
button 
    // display: flex
    // flex-direction: row
    color: #007BFF
    padding-right:  115px
    margin: 15px
    margin-top: 0
    background-color: white
    border: none
    // transition: all 2s
    &:focus
        background-color: #007BFF
        color: white
        outline: none
section 
    &:first-of-type
        background-color: #BDBEBE
        .prem 
            padding: 25px